@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --editor-primary-color: #282a36;
    --editor-secondary-color: #303240;
    --editor-border-color: #40414d;
    --splitter-hover-color: #bcbdbd;
  }
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}
